.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# dbt
dbt_models/target/
dbt_models/dbt_packages/
dbt_models/logs/
dbt_models/dbt_modules/

# SQLite
*.db
*.sqlite
*.sqlite3

# OS
.DS_Store
